* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88%;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #171717;
  height: 100%;
}

.up-content {
  height: 60%;
  width: 100%;
}

.buttons-color {
  width: 15%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  gap: 8px;
}

.bx {
  cursor: pointer;
}

.bx-time-five {
  cursor: auto;
}

.bx-heart,
.bxs-heart {
  color: #1db954;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

details {
  background: #3e3e3e;
  border-radius: 16px;
  color: #a8a8a8;
  padding: 1rem;
  margin: 0.5rem;
}

summary {
  cursor: pointer;
}

details p {
  padding: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

details p:hover {
  color: white;
}

.todos,
.favoritos,
.cortas,
.largas {
  border-radius: 16px;
}

.song-image {
  width: 100%;
  height: 40%;
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-image img {
  height: 100%;
}

.big-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.info-content {
  width: 100%;
  height: 20%;
  background: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.search-Music {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

#search {
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #fff;
}

.search-container i {
  color: black;
  font-size: 1.3rem;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.profile-add-music {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 8px;
  height: 100%;
}

.profile-name {
  display: flex;
  height: 50%;
  gap: 8px;
  align-items: center;
  justify-content: end;
  padding: 0.5rem;
}

.profile-name img {
  width: 15%;
  border-radius: 100%;
}

.username {
  font-weight: bold;
  font-size: 1.5rem;
}

.pause-play-add-song {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 0.5rem;
  height: 50%;
}

#pause-play {
  width: 30%;
  border-radius: 20px;
  background-color: #1db954;
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#pause-play:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.bxs-add-to-queue {
  font-size: 1.3rem;
  width: 5%;
}

.bxs-add-to-queue:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.list-songs {
  height: 80%;
  background: #282828;
  box-shadow: -5px -80px 100px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: auto;
}

table {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
}

thead tr th {
  text-align: center;
  color: #a8a8a8;
  font-size: 1.5rem;
  padding: 1rem;
}

tbody tr {
  text-align: center;
  border-top: 1px solid #3e3e3e;
  font-weight: bold;
}

.active-song {
  background-color: #3e3e3e;
  color: #fff;
}

.active-song td:nth-child(1),
.active-song td:nth-child(2),
.active-song td:nth-child(3) {
  text-shadow: 2px 2px 1px black;
}

.active-song td:nth-child(1) .play-icon{
  text-shadow: none;
}

footer {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  background: #3e3e3e;
  position: relative;
  box-shadow: 1px -5px 20px black;
  z-index: 2;
}

.song-author {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
  width: 20%;
  padding: 1rem;
}

.song-name {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.author-name {
  color: #a8a8a8;
  text-shadow: 1px 1px 1px black;
}

.general-info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reproductor-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  color: white;
  height: 50%;
}

.reproductor-icons .bx {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bx-play-circle,
.bx-pause-circle {
  font-size: 2.5rem;
}

.bx-skip-previous,
.bx-skip-next {
  font-size: 2.3rem;
}

.bx-shuffle,
.bx-repeat {
  font-size: 2rem;
}

.bx-play-circle:hover,
.bx-pause-circle:hover {
  transform: scale(1.5);
  color: #a7a7a7;
  transition: 0.3s;
}

.bx-skip-previous:hover,
.bx-skip-next:hover {
  transform: scale(1.4);
  color: #a7a7a7;
  transition: 0.3s;
}

.bx-shuffle:hover,
.bx-repeat:hover {
  transform: scale(1.3);
  color: #a7a7a7;
  transition: 0.3s;
}

.current-time-song {
  color: white;
}

.total-time-song {
  color: white;
}

.reproductor-bar {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

progress {
  width: 80%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #c4c4c4;
  appearance: none;
  -webkit-appearance: none;
}

/* Estilo de la barra interna (progreso) */
progress::-webkit-progress-bar {
  background-color: #c4c4c4;
}

progress::-webkit-progress-value {
  background-color: black; /* Color de la barra de progreso (negro) */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sound {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-size: 1.5rem;
}

#soundBar {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  border-radius: 20px;
}

#soundBar::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #171717 0%,
    #171717 var(--volumeBar, 50%),
    #a7a7a7 var(--volumeBar, 50%),
    #a7a7a7 100%
  );
  height: 6px;
}

#soundBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 6px; /* Tamaño visible de la bolita */
  width: 6px; /* Ancho visible de la bolita */
  background: #171717; /* Color del thumb */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

#soundBar:hover {
  opacity: 1;
}

/* Estilos del modal */
/* Modal Base */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar Modal */
.modal.visible {
  visibility: visible;
  opacity: 1;
  animation: bounceFromCenter 0.6s ease-out;
}

/* Contenido del Modal */
.modal-content {
  background-color: #f4f4f4;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 1px 5px #1db954, /* Sombra abajo */ 
    0px -1px 5px #1db954, /* Sombra arriba */ 
    -1px 0px 5px #1db954, /* Sombra izquierda */ 
    1px 0px 5px #1db954; /* Sombra derecha */
  position: relative;
  width: 70%;
  height: 55%;
}

@keyframes bounceFromCenter {
  0% {
    transform: scale(0.5); /* Tamaño inicial reducido */
  }
  50% {
    transform: scale(1.2); /* Sobresale ligeramente */
  }
  70% {
    transform: scale(0.9); /* Rebote hacia adentro */
  }
  100% {
    transform: scale(1); /* Tamaño final */
  }
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  font-weight: bold;
  margin-top: 10px;
}

.modal-content input {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form-buttons button {
  padding: 0.8rem;
  width: 12%;
  border: none;
  background-color: #1db954;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.form-buttons button:hover {
  padding: 1.2rem;
  transition: 0.3s;
}

#closeModal {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 4rem;
  color: #1db954;
}

.play-icon {
  opacity: 0;
  transform: scale(0.8); /* Aparece desde un tamaño más pequeño */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  font-size: 1.3rem;
}

.play-title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 1rem;
}

.play-container {
  border-radius: 100%;
  background-color: #1db954;
  width: 30px;
  height: 30px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.8); /* Aparece desde un tamaño más pequeño */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon {
  font-size: 1.5rem; 
  color: white; 
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar el contenedor y el ícono al pasar el mouse sobre la fila */
.song-row:hover .play-container,
.song-row:hover .play-icon {
  opacity: 1;
  transform: scale(1);
}

.song-row {
  height: 4rem;
}

.song-row:hover {
  background: #171717;
}

.song-row td {
  width: 30%;
}

.song-row td:nth-child(4) {
  width: 10%;
}

/* Media Queries para adaptarse a diferentes tamaños de pantalla */
/* 414px x 896px (móvil grande) */
@media screen and (width < 1440px) and (width >= 414px) {
  main{
    flex-direction: column;
    height: 85%;
  }

  .info-content{
    display: none;
  }

  .big-content{
    height: 60%;
    width: 100%;
  }

  details p{
    padding: 0;
  }

  .buttons-color{
    width: 5%;
  }

  .song-image{
    height: 90%;
  }

  .list-songs{
    height: 100%;
    width: 100%;
    box-shadow: 0px -2px 20px black; /* Sombra en la parte superior */
  }

  aside{
    height: 40%;
    width: 100%;
  }

  thead tr th {
    font-size: 1.2rem;
  }

  tbody tr{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  footer{
    height: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .song-author{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .general-info{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .reproductor-bar{
    height: auto;
    width: 70%;
    gap: 8px;
  }

  .reproductor-icons{
    height: auto;
    font-size: 1rem;
    width: 60%;
  }

  .reproductor-icons .bx{
    width: 15%;
  }

  .bx-play-circle,
  .bx-pause-circle {
    font-size: 2rem;
  }

  .bx-skip-previous,
  .bx-skip-next {
    font-size: 1.8rem;
  }

  .bx-shuffle,
  .bx-repeat {
    font-size: 1.5rem;
  }

  .sound{
    display: none;
  }
}

/* 360px x 640px (móvil pequeño) */
@media screen and (width < 414px) {
  main{
    flex-direction: column;
    height: 85%;
  }

  .info-content{
    display: none;
  }

  .big-content{
    height: 60%;
    width: 100%;
  }

  details{
    padding: 0.4rem;
    border-radius: 10px;
  }

  details p{
    padding: 0;
    font-size: 1rem;
  }

  .buttons-color{
    width: 10%;
    gap: 8px;
  }

  .song-image{
    height: 90%;
  }

  .list-songs{
    height: 100%;
    width: 100%;
    box-shadow: 0px -2px 20px black; /* Sombra en la parte superior */
  }

  aside{
    height: 40%;
    width: 100%;
  }

  thead tr th {
    font-size: 1rem;
    padding: 0.5rem;
  }

  tbody tr td:first-child{
    text-align: left;
  }

  footer{
    height: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .song-author{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .general-info{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .reproductor-bar{
    height: auto;
    width: 70%;
    gap: 8px;
  }

  .reproductor-icons{
    height: auto;
    font-size: 1rem;
    width: 60%;
  }

  .reproductor-icons .bx{
    width: 15%;
  }

  .bx-play-circle,
  .bx-pause-circle {
    font-size: 1.8rem;
  }

  .bx-skip-previous,
  .bx-skip-next {
    font-size: 1.5rem;
  }

  .bx-shuffle,
  .bx-repeat {
    font-size: 1.2rem;
  }

  .sound{
    display: none;
  }
}